# Roku TV App Environment Variables
VITE_ROKU_FEED_URL=

# IP address or hostname of the Roku device to run the device tests against
ROKU_HOST=192.168.1.31

# Developer password for that device (set when you enabled developer mode)
ROKU_PASSWORD=aaa
